<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/global/variables.css" />
<link rel="stylesheet" href="/css/global/reset.css" />
<link rel="stylesheet" href="/css/global/base.css" />
<link rel="stylesheet" href="/css/components/navbar.css" />
<link rel="stylesheet" href="/css/components/sidebar.css" />
<link rel="stylesheet" href="/css/components/cards.css" />
<link rel="stylesheet" href="/css/components/forms.css" />
<link rel="stylesheet" href="/css/components/alerts.css" />
<% if (pageCss) { %>
  <link rel="stylesheet" href="/css/<%= pageCss %>" />
<% } %>
