<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title, pageCss }) %>
  </head>
  <body class="auth-page-bg">
    <main class="container py-5">
      <%- body %>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <% if (pageJs) { %>
      <script type="module" src="/js/<%= pageJs %>"></script>
    <% } %>
  </body>
</html>
